<%- include('partials/header')  %>
<h1>This is dogs file <%= retro %> </h1>
<% if(retro==="pinku"){ %>
  <p>Pinku is best</p>
<% }  %>
<h2>Welcome to dogs file</h2>


<%- include('partials/footer')  %>